@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
}

body {
    /* background-color: var(--backgroundColor); */
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* a {
    color: inherit;
    text-decoration: none;
} */

/* a {
    color: #0070f3;
    text-decoration: none;
} */

/* a:hover {
    text-decoration: underline;
} */

/* img {
    max-width: 100%;
    height: auto;
} */

/* img {
    max-width: 100%;
    display: block;
} */

/* 下面的样式会影响 markdown 转 html 之后的样式展示 */

/* ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
} */
